.selection {
    width: 45%;
    margin: auto;
    text-align: center;
}

#institutions,
#level,
#category,
#subject {
    width: 100%;
    height: 30px;
    text-align: center;
    background-color: darkblue;
    color: #fff;
    border: none;
    border-radius: 10px;
    margin: 10px;
}

table #delete {
    background: red;
}

.inputs input {
    width: 30%;
}

.inputs {
    /* float: left */
}

.selection {
    float: left;
    margin: 10px 10px;
}

.clear {
    clear: both;
}