.selection {
    width: 80%;
    margin: auto;
    text-align: center;
}

#institutions,
#level,
#category {
    width: 85%;
    height: 30px;
    text-align: center;
    background-color: darkblue;
    color: #fff;
    border: none;
    border-radius: 10px;
    margin: 10px;
}

table #delete {
    background: red;
}